{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*",
      "options": {
        "tabWidth": 4,
        "printWidth": 40,
        "singleQuote": true
      }
    }
  ],
  "editor.formatOnSave": true
}
